body {
  margin : 0 ;
  font-family: 'Montserrat', serif;
  height:100%;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  display: inline-block;
  font-family: "Sacramento", serif, coursive;
  margin: 50px auto 0 auto  ;
  line-height: 1.5;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Montserrat",sans-serif;
  margin: 0 0 0 0  ;
}

h3 {
  color: #11999E;
  font-family: "Montserrat",sans-serif;
}

hr {
  border: none;
  border-top: 0.5rem dotted ;
  color: #E8E2E2;
  background-color: #F5F5F5;
  height: 1rem;
  width: 25%;
}

a {
  margin: 10px 20px ; 
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.botton-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.center-text {
  text-align: center;
}

.top-container {
  background-color: #EAF6F6 ;
  border: solid 0px ;
  padding: 20px ;
  position : relative ;
}

.middle-container {
  background-color: #F5F5F5 ;
  padding: 20px ;
  position : relative ;
}

.bottom-container {
  padding: 20px ;
  background-color: #66BFBF ;
  text-align: center;
  position : relative ;
  flex-grow: 1;
}

.footer-link {
  color: #11999E;
}

.profile {
  text-align: center;
  margin: 0 0 3rem 0 ;
}

.profile-row {
  line-height: 1.5 ;
  width: 50%;
  margin: -2.5rem auto 0 auto;
}

.skills {
  text-align: center;
  line-height: 1.5 ;
  margin: 1rem auto 3rem auto;
}

.skill-row {
  width: 50%;
  margin: 2rem auto 3rem auto ;
  text-align: left;
}

.skill-row-img-1 {
  border-radius: 50%;
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 30px 0 0 ;
}

.skill-row-img-2 {
  border-radius: 50%;
  display: inline-block;
  float: right;
  width: 25%;
  margin: 0 0 0 30px;
}

.btn {
  color: #000000;
}
